#set( $symbol_pound = '#' )
${symbol_pound} Setting up the dependencies

The project files are hosted on a [Bintray repo][bintray-repo], and have been replicated on JCenter and OSS Sonatype, which also replicates into the [Maven Central Repository][maven-repo]. While this means that it should be possible to download the archetype from any of those repositories, the recommended one is Bintray.

To acquire the Archetype use the following data:

|Group ID|Artifact ID|Version|URL|
|---|---|---|---|
|com.wandrell.archetype|library|${projectVersion}|https://dl.bintray.com/bernardo-mg/maven/ |

For this you may install it with your preferred IDE, or directly use it with Maven by using the following command:

```sh
$ mvn archetype:generate -DarchetypeGroupId=com.wandrell.archetype -DarchetypeArtifactId=library -DarchetypeVersion=${projectVersion} -DarchetypeRepository=https://dl.bintray.com/bernardo-mg/maven/
```

As an alternative, it is also possible to download the project from [${scmName}](${scmURL}), and then install it into the local archetypes repository by using the following command which, due to the POM file configuration, will also update the local repository:

```sh
$ mvn install
```

${symbol_pound}${symbol_pound} Variables

This list contains all the Velocity variables used in the Archetype, and which Maven will ask for. As these are templating variables, their values will be set into several of the files.

${symbol_pound}${symbol_pound}${symbol_pound} Required variables

These are the minimum variables which Maven demand, as they set the required data on the project.

|Variable|Use|
|---|---|
|artifactId|Will be used as Maven's ID for the project, part of the Maven coordinates|
|groupId|The group holding this project, part of the Maven coordinates|

${symbol_pound}${symbol_pound}${symbol_pound} General information

The developer data will be also be used as the organization info, with developerName as the name, and developerUrl as the URL.

|Variable|Use|
|---|---|
|projectName|Name given to the project|
|projectDescription|Short description for the project|
|developerId|Developer's ID|
|developerName|Developer's name|
|developerMail|Developer's mail|
|developerUrl|Developer's webpage URL|

${symbol_pound}${symbol_pound}${symbol_pound} Repositories

The repoUserId will be used, along the artifactId, to build the Github link for the project, and will also be reused for building the Travis one.

|Variable|Use|
|---|---|
|repoUserId|ID of the user on Github|

${symbol_pound}${symbol_pound}${symbol_pound} Sites repositories

|Variable|Use|
|---|---|
|siteRelease|URL for deploying the release version documents|
|siteDevelop|URL for deploying the development documents|

[bintray-repo]: ${bintrayURL}
[maven-repo]: ${mavenURL}