#set( $symbol_pound = '#' )
${symbol_pound} Usage

New projects can be generated with by the Archetype with the use of Maven. This can be achieved through the command line or with the help of an IDE.

For information about how to install the archetype through an IDE, check that IDE's manual.

${symbol_pound}${symbol_pound} Maven command

In the case of wanting to just use Maven and the command line the following command should be used:

```sh
$ mvn archetype:generate -DarchetypeGroupId=$project.groupId -DarchetypeArtifactId=$project.artifactId -DarchetypeVersion=$project.version -DarchetypeRepository=$repoDownloadURL
```

The last argument, indicating the archetype repository, is needed only if the archetype has not been installed locally.

${symbol_pound}${symbol_pound} Variables

The Archetype makes use of several templating variables to allow configuring the project. These are references found in several of the files. 

When creating a new project from the Archetype the user will be asked to give values for each of them.

${symbol_pound}${symbol_pound}${symbol_pound} POM variables

These are the Maven coordinates, which all Maven projects require by default.

|Variable|Use|
|---|---|
|artifactId|Will be used as Maven's ID for the project, part of the Maven coordinates|
|groupId|The group holding this project, part of the Maven coordinates|

${symbol_pound}${symbol_pound}${symbol_pound} General information

The developer data will be also be used as the organization info, with developerName as the name and developerUrl as the URL of the organization.

|Variable|Use|
|---|---|
|projectName|Name given to the project|
|projectDescription|Short description for the project|
|developerId|Developer's ID|
|developerName|Developer's name|
|developerMail|Developer's mail|
|developerUrl|Developer's webpage URL|

${symbol_pound}${symbol_pound}${symbol_pound} Repositories

The repoUserId will be used, along the artifactId, to build the Github link for the project, and will also be reused for building the Travis one.

|Variable|Use|
|---|---|
|repoUserId|ID of the user on Github|

${symbol_pound}${symbol_pound}${symbol_pound} Sites repositories

|Variable|Use|
|---|---|
|urlSiteDeployRelease|URL for deploying the release version documents|
|urlSiteDeployDevelop|URL for deploying the development documents|
|urlSiteRelease|URL where the release version documents can be found|
|urlSiteDevelop|URL where the development documents can be found|