# Auto detect text files and perform LF normalization
* text=auto

# Known text files
*.css text diff=css
*.java text diff=java
*.html text diff=html
*.sh text
*.md text
*.txt text
*.xml text
*.yml text

# Known binary files
*.jar binary
